{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <script src="{% static 'bundles/main.js' %}" type="text/javascript"></script>
</head>
<body>
<h1>{% block title %}TODO{% endblock %}</h1>
<nav>
<a href="{% url 'index' %}">Unfinished</a>
<a href="{% url 'index' %}?all=1">All</a>
<a href="{% url 'add' %}">Add</a>
</nav>
<div>
{% block body %}{% endblock %}
</div>
<div id="react"></div>
{% block script %}{% endblock %}
</body>
</html>
